<!--The content below is only a placeholder and can be replaced.-->
<header>
<div class="header-container">
  <div class="head-left">
    <div class="logo-wrap">
      <img src="./assets/DesignImage/logo.png" alt="">
    </div>
  </div>
  <div class="head-right">
    <nav>
      <ul>
        <li routerLink="home" [routerLinkActive]="'is-active'">Home</li>
        <li routerLink="atbash" [routerLinkActive]="'is-active'">Atbash</li>
        <li routerLink="playfair" [routerLinkActive]="'is-active'">Playfair</li>
      </ul>
    </nav>
  </div>
</div>
</header>
<section>
  <div class="main-content-container">
    <router-outlet></router-outlet>
  </div>
</section>
<footer>

</footer>
