.playfair-container
{
  height: 100vh;
  display: flex;
}
.type-title
{
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
  padding:10px 20px;
  background: #fff;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}
.encryption-left
{
  flex:1;
  padding:20px;
}
@media (max-width:500px)
{
  .encryption-left
  {
    padding:0px;
  }
}
.encryption-form
{
  margin-bottom:20px;
  display:flex;
  flex-direction: column;
  background: #fff;
  padding:10px;
  border-radius: 3px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}
.input-result-wrap
{
  display: flex;
}
.result-box
{
  padding:5px;
  flex:1;
  border:1px solid #e0e0e0;
  border-left: none;
  font-size: 13px;
  border-radius: 3px;
  height: 100px;
  font-size: 16px!important;
}
@media (max-width:500px)
{
  .input-result-wrap
  {
    flex-direction: column;
  }
  .result-box
  {
    border-left: 1px solid #e0e0e0;
    border-top: none;
  }
}
.input-result-wrap textarea
{
  flex:1;
}
.encryption-form textarea
{
  resize: none;
  border-color: #e0e0e0;
  height: 100px;
  border-radius: 3px;
  padding:5px;
  font-size: 16px!important;
}
.encryption-form h3
{
  margin-bottom: 20px;
  font-weight: 600;
}
